body, html {
  font-family: 'Roboto', Arial, sans-serif;
  height: 100%;
  width:100%;
  margin: 0;
}

.header-cont{
	width:100%;
    position:fixed;
    font-weight: bold;
    top:0px;
    height:40px;
    font-size: 18px;
    color:#ffffff;
    background-color: #555555;
    z-index: 1000;
    text-align: center;
    padding-top: 10px;
}
.header-cont a, 
.header-cont a:visited,
.header-cont a:hover{
	text-decoration: none;
	color: #ffffff;
}
#mapArea {
	display: block;
	height:100%;
}

h1{
	color:#ff0000;
}
.selectedCity{
	color: #ffffff;
	text-decoration: underline;
}
.bubbleGallery h5{
	color:#ffffff;
	font-size: 14pt;
	padding:0px;
	margin:0px;
}
.bubbleGallery{
	color:#ffffff;
	font-size: 10pt;
	padding: 10;
}
.bubbleGallery a{
	text-decoration: none;
	color:#000000;
	font-size: 10pt;
}
