body, html {
  font-family: 'Roboto', Arial, sans-serif;
  height: 100%;
  width:100%;
  margin: 0;
}
#textArea{
    width:100%;
    position:fixed;
    bottom:0px;
    height:140px;
    font-size: 18px;
    color:#a4abb8;
    z-index: 90;
    text-align: center;
    padding-top: 10px;
}
#textCont{
   width:80%;
   margin:0 auto;
   text-align:left;
   font-weight:lighter;
   color:#000;
   padding: 10px;
   font-size:10px;
}
#textCont h2{
	color:#000000;
	font-size: 14pt;
	padding:0px;
	margin:0px;
}
#textCont h4{
	color:#fff;
	font-size:12px;
	height:15px;
	width: 60px;
	padding:3px;
	margin:0px;
}
#textCont a{
	text-decoration: underline;
	font-size: 10pt;
}
.neutral{
    background-color:#52596a;
    color:#848b98;
}
.gallery h4{
	background-color:rgb(254, 107, 170);
}
.gallery a{
	color:rgb(254, 107, 170);
}
.books h4{
	background-color:#48f0ce;
}
.books a{
	color:#48f0ce;
}
.food h4{
	background-color:#fcc865;
}
.food a{
	color:#fcc865;
}

#mapArea {
	display: block;
	height: -webkit-calc(100% - 150px) ;
	height: calc(100% - 150px) ;
}

