body, html {
  font-family: 'Roboto', Arial, sans-serif;
  height: 100%;
  width:100%;
  margin: 0;
}
.header-cont{
	width:100%;
    position:fixed;
    font-weight: bold;
    bottom:0px;
    height:40px;
    font-size: 18px;
    color:#a4abb8;
    background-color: #52596a;
    z-index: 90;
    text-align: center;
    padding-top: 10px;
}
.header-cont a, 
.header-cont a:visited,
.header-cont a:hover{
    color:#848b98;
}
.header-cont small{
    font-size:10px;
    color:#848b98;
    font-weight: lighter;
}
#mapArea {
	display: block;
	height:100%;
}

.bubbleGallery h5{
	color:#000000;
	font-weight:lighter;
	font-size: 14pt;
	padding:0px;
	margin:0px;
}
.bubbleGallery{
	color:#000;
	font-size: 10pt;
	padding: 10;
	z-index:100;
}
.bubbleGallery a{
	text-decoration: none;
	color:#000000;
	font-size: 10pt;
}
